@font-face {
  src: url("/fonts/Cairo-Bold.ttf") format("truetype"); ;
  font-family: "cb";
   font-style: normal;
   font-weight: bold;
  }
@font-face {
    src: url("/fonts/Cairo-Regular.ttf") format("truetype"); ;
    font-family: "cr";
     font-style: normal;
     font-weight: normal;
    }
@font-face {
  src: url("/fonts/Tajawal-Bold.ttf") format("truetype"); ;
  font-family: "tb";
   font-style: normal;
   font-weight: bold;
}
@font-face {
    src: url("/fonts/Tajawal-Regular.ttf") format("truetype"); ;
    font-family: "tr";
     font-style: normal;
     font-weight: normal;
}
