*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: "tb";
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  
}

body {
  display: flex;
  justify-content: start; 
  min-width: 98vw;
  width: 100%;
  margin: auto;
  background-color: #777;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p{
  font-size: 1.1em;
  line-height: 1.4;

}

tr{
  border:1px  solid white;
}
td{
  border:1px  solid #ccc;
}
img{
  vertical-align: middle;
  border-style: none;

}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.slick-slide  {
  background-color: #777;
  /* border-radius: 8px; */


}

.slick-slide img {
  margin: auto;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit:fill;
  padding: .1em;
  margin-top: 5px;

}

li.slick-active > button::before {
  color: white !important;
  
  
  
  /* border:1px solid  #ccc; */
}


table{
  /* max-width:900px ; */
  /* width: 80%; */
  font-size: .8rem;
  border: 0px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(68, 68, 68);

}

@media screen and (max-width: 500px) {
  body{
    background-color: rgb(247, 184, 184);
  }
  h1 {
    font-size: 2.2em;
    line-height: 1.1;
  }
  p{
    font-size: .9em;
    line-height: 1.4;
  
  }
  table{
    max-width:400px ;
    width: auto;
    font-size: .5rem;
    word-break:break-all;
  }
td{

  word-break:break-all;

}  
tr{
  word-break:break-all;
}
}