@charset "utf-8";img,object{max-width:100%}
@font-face{font-family:'iconfont';src:url('/font/iconfont.ttf?t=1622274305876') format('truetype');}
img{-ms-interpolation-mode:bicubic}
body{line-height:22px;color:#333;font-family:Arial,Helvetica,sans-serif;font-size:65%;background:url(../images/bg.jpg) center top no-repeat;background-attachment:fixed;font-size:12px}
*,li,ol,ul{margin:0;padding:0}
li,ol,ul{list-style:none}
a,a:hover{text-decoration:none}
img{border:none}
.clear{clear:both;line-height:0;font-size:0;margin:0;padding:0;height:0}
small{display:block}
.review{color:red;font-weight:400;font-size:18px}
.row a{margin-bottom:0}
.col-xs-6{margin-bottom:20px}
.col-xs-6 p{text-align:center}
.list-group{margin-top:30px}
.list-group-item{padding:3px 15px;background:#f1f1f1}
.list-group a{color:#333;margin-bottom:5px}
.list-group a.thisItem,a.list-group-item-success:hover{background:#ccc;color:#000}
.etw_pic2{width:100%;height:auto;float:left;margin-top:4px}
.etw_pic2 ul{width:100%;height:auto;float:left}
.etw_pic2 ul li{width:48%;float:left;margin:0 2% 12px 0;line-height:18px;text-align:center}
.etw_pic2 ul li img{width:100%;border:1px solid #ccc}
.etw_pic2 ul li.last{margin-right:0}
#adsidebar{border:1px solid #06f;width:260px;float:right;position:fixed;right:20px;bottom:80px;z-index:999;height:163px!important;font-size:14px}
#adsidebar .exbi_title{background:#F0F0F0;padding-left:10px}
#adsidebar span{margin-left:10px;color:#c00}
.caption p{height:auto;line-height:22px}
h3{padding-bottom:10px;font-size:1.3em}
h2,h3{font-family:Cambria;margin:0}
h2{font-family:Cambria;font-size:1.4em;line-height:22px;display:inline-block;font-weight:700;margin:0;padding:0 0 10px 0}
.relate_names{width:100%;margin-top:25px;color:#666;font-size:.98em}
.about_format_sub a{line-height:20px;color:#547ab7;text-align:left;padding:5px 0;font-size:1.2em}
.about_format_sub a,.etw_hometitle{font-weight:700;font-family:Cambria}
.etw_hometitle{line-height:25px;padding:3px 0;font-size:1.6em;display:block;margin:10px 0}
.table-responsive{border:none!important;height:auto;max-height:600px;}
.table-responsive1{border:none!important;overflow-y:scroll;}
.table{width:100%;padding:0;background:#999;margin:5px 0 9pt;border-spacing:1px;border-collapse:separate}
.table tr{background:#fff}
.table tr.top{background:#f2f2f2;color:#000}
.table td{padding:2px;font-size:.95em;color:#333;vertical-align:middle!important}
.table a{color:#064896}
.table a:hover{color:red;text-decoration:none}
.sub_c{display:none}
#header{width:100%;height:auto;margin:0 auto}
#etw_multimedia{display:block;float:right;width:100%;height:auto;padding-top:10px}
#headerin{width:98%;height:auto;margin:0 auto;display:block}
.etw_language{height:auto;float:right;font-size:12px;text-align:right;padding-top:20px;}
.etw_language ul li{position: relative; float:left}
.etw_language ul li a{line-height:20px;color:#000;vertical-align:middle;padding-left:20px}
.etw_language ul li a:hover{text-decoration:none;color:#b81d21}
.etw_language ul li a img{margin-right:5px;display:inline-block;vertical-align:revert;}
.d-block{display: none;}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(0, 0, 0);-webkit-animation:scaleout 2.5s infinite ease-in-out;animation:scaleout 2.5s infinite ease-in-out;-moz-animation:scaleout 2.5s infinite ease-in-out;
}
@-webkit-keyframes scaleout{50%{opacity:.5}
100%{opacity:1}
}
@keyframes scaleout{50%{opacity:.5}
100%{opacity:1}
}

@media screen and (max-width:768px){
    .etw_language ul li a img{display: none;}
    #etw_logo{ width: auto;}
    .d-block{display: block;}
   .etw_language{float: right;}
   .etw_language>ul>li>a{margin:2.5rem 2.2rem 1rem 0;text-align:center;width:40px;z-index:100;display:block;}
   .etw_language ul li ol{position:absolute;width:100px;right: 0;top:60px;transition:.3s all ease-in-out;box-shadow:0 1px 5px #ccc;z-index:999;display:none;}
   #etw_language{width:100%;background:#fff;float: none;height: auto; margin:0}
   #etw_language .dropdown-item{width:auto;color:#333;line-height:1rem;padding:.6rem 0;clear:inherit;display:block;background:0 0;text-align:center}
   #etw_language .dropdown-item:hover{background:#fff}
   }


@media screen and (max-width:768px){.navbar-default,.navbar-toggle{min-height:20px;margin-top:10px}
.navbar-default ul.navbar-nav{border:none}
.glyphicon-menu-hamburger{height:12px;line-height:12px;font-size:22px;float:right}
.navbar-nav li a{border-bottom:1px solid #fff}
.navbar-nav li a.thisItem,.navbar-nav li a:hover{background:#ccc!important;color:red}
}
#etw_banner{width:100%;height:auto;margin:0 auto;overflow:hidden;margin-top:20px;margin-bottom:30px}
.slider-area{width:100%;max-width:683px;float:left;}
#etw_homebody{width:100%;height:auto;float:left;display:block;background:#fff;font-size:1.4em}
.main_title{width:100%;float:left;height:30px;line-height:30px;border-bottom:3px solid #e5e7e4;color:#000;font-size:16px;font-weight:700;text-transform:uppercase}
#container{width:100%;display:block;height:auto;margin:0 auto;background:url(../images/main.jpg) repeat-y center;overflow:hidden;color:#333}
#etw_content{width:98%;margin:0 auto;padding:0 0;display:block;margin-bottom:20px;overflow:hidden;background:url(../images/maintop.jpg) no-repeat top;font-size:14px}
#main_content{width:100%;margin:0 auto;overflow:hidden;margin-top:0}
#etw_right{float:left}
#etw_right,#etw_sidebar{width:100%;height:auto;display:block}
#etw_sidebar{float:right}
#etw_homebody1{width:100%;height:auto;padding-bottom:10px;margin-bottom:30px;border-bottom:1px solid #efefef;float:left}
.home_body{width:100%}
.home_body h2{font-size:20px;font-weight:400;line-height:30px;color:#303030;font-family:Impact}
.etw_dir_list li a{color:#333;display:block;padding:6px 6px 6px 38px;line-height:14px}
.etw_dir_list>li.big_case{width:90%;margin:0 auto}
.etw_dir_list>li.big_case a{width:100%;background:url(../images/libig.jpg) no-repeat left;color:#000;display:block;font-weight:700;font-weight:700;padding:7px 0 7px 12%;border-bottom:1px solid #e0e0e0}
.etw_dir_list li ol a.itme264869,.etw_dir_list li ol a.itme264873,.etw_dir_list li ol a.itme264881,.etw_dir_list li ol a.itme264889,.etw_dir_list li ol a.itme264893,.etw_dir_list li ol a.itme264899,.etw_dir_list li ol a.itme264901,.etw_dir_list li ol a.itme264903{background:url(../images/news.jpg) no-repeat right top!important}
.etw_dir_list>li>ol>a{font-size:12px;font-weight:400!important;color:#333;background:0 0!important;border-bottom:none!important}
.etw_dir_list>li>ol>a small{color:#666}
.etw_dir_list>li>ol{line-height:18px!important;padding:0 8px}
.etw_dir_list a small:hover,.etw_dir_list>li>a.thisItem,.etw_dir_list>li>ol>a.thisItem small{text-decoration:none;color:#b81d21}
.etw_dir_list>li.big_case a:hover,.etw_dir_list>li>ol>a.thisItem,.etw_dir_list>li>ol>a:hover{color:#b81d21}
.big_abouttitle,.pro_title{padding-left:8%;height:60px;line-height:60px;display:block;color:#fff;font-size:22px;font-family:Impact;background:#303030}
.big_abouttitle{padding-left:0;text-align:center}
.big_abouttitle a{color:#fff!important;line-height:40px!important;padding-left:0!important;text-align:center!important}
#etw_contact{width:100%;display:block;margin-top:30px;color:#333}
.etw_contact_title{width:100%;float:left;font-size:22px;font-family:Impact;background:#D7B000}
.etw_contact_title a{color:#fff;display:block;line-height:49px;padding-left:22px}
.etw_contact_title a:hover{background:#303030}
#etw_contactin{padding:10px;word-wrap:break-word;margin-top:10px}
#etw_contactin a{color:#333}
#etw_contactin a:hover{color:#b81d21;text-decoration:none}
#etw_contactin p{padding:3px}
.share{width:100%;height:auto}
.share ul li{width:13%;padding:2%;margin-right:1%;float:left;background:#f0c709;border-radius:36px;text-align:center}
.share ul li a{font-size:1.2em;color:#fff!important;text-align:center}
.share ul li:hover{background:#b81d21}
#etw_hot_product{width:98%;height:auto;max-width:940px;margin:0 auto;margin-top:30px;font-size:12px}
#etw_hot_product ul{width:100%;height:auto;float:left}
#etw_hot_product ul ol{width:100%;height:auto;float:left;margin:0 0 15px 0}
#etw_hot_product ul ol li.hotproductsphotos{width:99%;margin:0 auto;text-align:center;border:1px #e6e6e5 solid;padding:1%}
#etw_hot_product ul ol li.hotproductsname{width:100%;height:auto;float:left;line-height:20px;height:auto}
#etw_hot_product ul ol li.hotproductsname a{display:block;color:#b81e1c;text-align:left;line-height:18px;height:auto;font-weight:700;height:50px;overflow:hidden}
#etw_hot_product ul ol li.hotproductsname a small{font-weight:400!important}
#etw_hot_product ul ol li.hotproductsname a:hover{color:#EE6A06}
#etw_hot_product ul ol li.hotproductsname a.more{width:70px;height:20px;float:left;line-height:20px;background:#D3AD00;border:1px #787878 solid;color:#fff;padding:0;text-align:center;font-weight:400;margin-top:10px;font-size:12px}
#etw_hot_product ul ol li.hotproductsname a.more:hover{background:#FE8800;text-decoration:none;color:#fff}
#etw_producttitle{width:100%;margin:0 auto;height:auto;color:#333;line-height:18px;font-size:12px;border-bottom:1px solid #efefef;margin-bottom:20px}
#etw_producttitle a{color:#000;font-size:12px;color:#666;padding-right:3px}
#etw_producttitle li{display:inline-block}
#etw_producttitle li+li::before{padding:0 1px;color:#ccc;content:"/\00a0"}
#etw_producttitle a:hover{color:#ff0016}
#etw_producttitle small{display:inline}
.big_cate_format{width:100%;margin:0 auto;padding-bottom:20px}
.about_format_sub a,.big_cate_format a{font-size:1.4em;padding:5px 0;display:block;color:#333}
.about_format_sub,.productsformat_sub{display:block;width:100%;margin:10px auto;padding:1.5%;margin:10px 2% 10px 0;float:left;box-shadow:3px 3px 3px #eee;font-size:1em;border:1px solid #eee}
#productsformat .productsformat_sub ul li,.class_for_each .productsformat_sub ul li{width:98%;text-align:center;margin:0 auto;display:block}
#productsformat .productsformat_sub ul li ol{width:98%;margin:0 auto;text-align:center;padding-bottom:30px}
#productsformat .productsformat_sub ul li ol li{width:100%}
#productsformat .productsformat_sub ul li ol li.etw_pro_img img{border:1px solid #ccc}
#productsformat .productsformat_sub a,.class_for_each .productsformat_sub a{font-size:1.1em;color:#333;display:block}
#productsformat .productsformat_sub a:hover,.class_for_each .productsformat_sub a:hover{color:#c12115;text-decoration:none}
#productsformat .productsformat_sub ul li ol li.etw_pro_name a{height:80px;padding:15px 4px;color:#333;FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fed103,endColorStr=#fbf3cd);background:-moz-linear-gradient(top,#fed103,#fbf3cd);background:-webkit-gradient(linear,0 0,0 100%,from(#fed103),to(#fbf3cd));background-image:-webkit-gradient(linear,left bottom,left top,color-start(0,#fed103),color-stop(1,#fbf3cd));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fed103',endColorstr='#ccc');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fed103',endColorstr='#fbf3cd')"}
#productsformat .productsformat_sub ul li ol li.etw_pro_name a:hover{color:#000}
#etw_hot_product ul ol li.hotproductsphotos,#etw_other_product ul ol li.product_img,#productsformat .productsformat_sub ul li ol,.class_for_each .productsformat_sub ul ol li.etw_pro_img{float:left;display:block;margin-bottom:10px;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all}
#etw_hot_product ul ol li.hotproductsphotos:hover,#etw_other_product ul ol li.product_img:hover,#productsformat .productsformat_sub ul li ol:hover,.class_for_each .productsformat_sub ul ol li.etw_pro_img:hover{transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);z-index:1}
.class_for_each .productsformat_sub a.con_alls{margin:12px 0 0 0;padding:0;width:150px;height:30px;border-radius:5px;border:1px #b81d21 solid;color:#b81d21;text-align:center;line-height:30px}
.class_for_each .productsformat_sub a:hover.con_alls{background:#303030;color:#fff}
.class_for_each .productsformat_sub a.con_alls span{float:left;padding:6px 0 0 10px;font-size:16px}
.class_for_each .productsformat_sub .con_alls a:hover,.class_for_each .productsformat_sub ul li ol li.etw_pro_name a.etw_pro_a_link:hover{color:#333}
.class_for_each .productsformat_sub ul li ol li.etw_pro_name{text-align:left}
.class_for_each .productsformat_sub ul li ol li.etw_pro_name a.more{display:none}
.class_for_each .productsformat_sub ul li ol li.etw_pro_name a.etw_pro_a_link{padding-bottom:5px;color:#b81d21}
#etw_other_product,#etw_products,#productsformat,.class_for_each{width:100%;height:auto;float:left}
#etw_other_product{float:left;width:100%;height:auto;display:inline-block;margin-top:20px}
#etw_other_product ul li{height:auto;float:left;overflow:hidden;width:45%;margin:5px 2% 0 0}
#etw_other_product ul,#etw_other_product ul ol{width:100%;height:auto;float:left}
#etw_other_product ul ol li{width:100%;height:auto;float:left}
#etw_other_product ul ol li.product_img{width:100%;float:left}
#etw_other_product ul ol li.product_img img{height:auto;width:100%}
#etw_other_product ul ol li.product_con{width:99%;height:auto;float:left}
#etw_other_product ul ol li.product_con a{color:#303030;display:block;line-height:18px;padding:2px 0;height:52px;overflow:hidden;font-size:12px}
#etw_other_product ul ol li.product_con a:hover,#etw_other_product ul ol li.product_con a:hover small{color:#b81d21}
#etw_other_product ul ol li.product_con p{height:120px;overflow:hidden;text-align:left;display:none}
.etw_othertitle,.relatednames span{width:100%;height:auto;float:left;font-size:12px;font-weight:700;line-height:30px;color:#000;border-bottom:1px solid #ccc;padding:10px 0}
.relatedProducts{width:100%;height:auto;float:left;margin-bottom:10px;background:#fff}
.relatedProducts ul{width:94%;margin-left:6%;height:auto;float:left;padding:8px 0}
.relatedProducts ul li{float:left;width:98%;margin-bottom:3px;list-style:disc}
.relatedProducts ul li a{padding:5px;line-height:18px;display:block;color:#000;font-size:12px;font-weight:400}
.relatedProducts ul li a:visited{color:#660}
.relatedProducts ul li a.thisItem,.relatedProducts ul li a.thisItem:visited,.relatedProducts ul li a:hover{display:block;color:#d30000}
.relatedProducts ul li small{font-size:.8em;font-weight:400;color:#444}
.relatedProducts ul li a:hover small,.relatedProducts ul li.relatedProductsofthis a small{color:#09F}
.relatedProducts ul li span{height:38px;display:block}
.right_pic{width:100%;margin:0 auto;margin-top:20px}
.right_pic img{border:1px solid #ccc}
.left_pic,.left_pic_one{width:100%;float:left;overflow:hidden;margin-top:10px;margin-bottom:10px}
.left_pic_one{margin:0 auto;float:none;margin-top:30px;text-align:center}
.left_pic_one .img_right1{margin:0 auto;float:none;text-align:center;width:100%}
.img_right1{width:40%;float:left;border:1px solid #ccc;text-align:center;padding:4px}
.left_pic img{border:1px solid #ccc}
.img_right1 img{width:auto;margin:0 auto;text-align:center;border:none}
.related_pic{width:57%;display:block;float:right;margin-bottom:10px}
.related_pic img{float:left;border:1px solid #ccc;padding:3px;margin-top:4px;width:100%}
.related_pic a{width:24%;float:left;display:block;margin-right:1%}
.img_center,.img_left,.img_right{width:100%;overflow:hidden;margin:5px auto 10px;text-align:center;border:1px solid #efefef;padding:4px}
#qrcode{display:block}
#qrcode1,#qrcode2{width:100%;height:auto;display:block}
#qrcode2{float:left}
.etw_contact_left{width:100%;float:left;margin:8px 0 0;line-height:24px;display:block}
.etw_contact_left a{color:#c12115}
.etw_contact_left a:hover{text-decoration:none;color:#333}
.etw_contact_left p.contact_one{border:1px solid #dedede;font-size:.9em;line-height:20px;padding:1%;margin-bottom:10px;border-radius:3px}
.etw_contacts{width:100%;float:left}
.etw_contacts a{color:#c12115}
.etw_contacts a:hover{text-decoration:none}
.etw_contacts p{padding:3px 0}
.etw_contacts p.fen,.etw_contacts p.fen1{border:1px solid #ccc;margin-bottom:5px;padding:4px;border-radius:3px;font-size:.9em}
.etw_contacts .indent{padding-left:34px}
.etw_feedback{float:left;width:100%}
#etw_set_feedback_form{width:99.5%;height:auto;border:1px solid #cfd8e1;text-align:center;margin:10px 0;background:#fff}
#etw_form_title,#etw_set_feedback_form{float:left;display:block;overflow:hidden}
#etw_form_title{width:100%;float:left;padding-left:2%;line-height:26px;font-weight:700;overflow:hidden;font-size:15px;border-bottom:1px solid #dedede;color:#333;background:#efefef;text-align:left}
#floatchatiframe2011{width:75%}
#footer{margin:0 auto;width:100%;overflow:hidden;background:#303030}
#etw_footin{margin:0 auto;max-width:940px;padding-top:1pc;width:100%}
#etw_homefooter{width:100%;height:33px;margin:0 auto;text-align:center;display:block}
#etw_homefooter a{color:#fff;line-height:22px;padding:0 15px}
#etw_coper a:hover,#etw_homefooter a:hover{color:#ffd004}
#etw_coper{width:100%;float:left;text-align:center;line-height:25px;margin-top:5px}
#etw_coper a{color:#fff;display:block}
#etwclear{display:none}
#otherlink{width:280px;height:auto;margin:0 auto;clear:both;display:block}
#otherlink div{float:left;margin-left:14px;margin-top:5px}
#sitemap{width:100%;list-style:none}
#sitemap li{display:block;width:99%;height:auto;float:left}
#sitemap li a{display:block;width:100%;padding:5px 0 2px 3px;font-size:1.2em;background:#efefef;margin-bottom:5px}
#sitemap li ol{width:100%;float:left;line-height:30px}
#sitemap li ol a{line-height:30px;font-size:1em;color:#333;font-weight:700;display:block;width:100%;padding:8px 0 0;background:0 0}
#sitemap li ol ol{width:100%}
#sitemap li ol ol li a{color:#333;line-height:24px;font-size:.9em;font-weight:400;background:0 0}
#sitemap li ol ol li a.lists{padding-left:10px;font-size:.85em;line-height:1pc;color:#333}
#sitemap li a:hover{color:#c12115}
.big_title{width:100%;height:auto;float:left;display:block;font-size:1.3em;font-weight:700;line-height:30px;padding:5px 0;display:block;font-family:Cambria;color:#c12115}
.big_title a{color:#000}
.big_title a:hover{color:#e41b13}
a.name{color:#00f;font-weight:700}
a.name:hover{color:red}
.summary_title a{width:99%;height:auto;float:left;font-size:1.3em;font-weight:700;line-height:30px;padding:5px 0;display:block;font-family:Cambria;color:#1c6ab2;text-shadow:1px 2px 2px #ccc;margin:5px 0 10px}
.summary_title a:hover{color:#c00}
#chatbox{display:block}
#theme-popover-chatbox{display:none}
.about1{width:100%;height:auto;display:block;float:left;box-shadow:3px 3px 3px #eee;font-size:1em;border:1px solid #eee;margin:20px 0 30px;padding:10px 2% 20px;border-radius:5px;background:#fff}
.feedback{margin:0 auto;text-align:center}
.feedback_title{color:#000;font-weight:700;font-size:16px;font-family:"Times New Roman",Times,serif;line-height:22px;display:block;border-bottom:1px solid #efefef;padding:5px 0;text-align:center}
.feedback #floatchatiframe2011{width:75%;margin-top:10px}
.feedback_title small{display:none}
.location{width:100%;margin:0 auto}
.about_format_sub ul ol li.etw_pro_name a{text-decoration:underline}
.about_format_sub ul ol li.etw_pro_name a h3{font-size:1.3em}
.about_format_sub ul ol li.etw_pro_name a:hover,.etw_pdf a:hover{color:#c12115;text-decoration:none}
#etw_banner,#etw_contact,#etw_homefooter,#etw_other_product1,#etw_productlist,#homelink,#mymap,.con_all,.con_all_left,.con_alls{display:none}
#top_right{width:100%;float:none;margin:0 auto;font-size:12px}

#chatbox,#qrcode{display:none}
#right img{width:91%}
.camera_bar_cont{height:7px}
.etw_video_center,.homevideo{width:100%;display:block;margin:0 auto;overflow:hidden;margin-bottom:20px}
.etw_video_center a,.homevideo a{width:100%;text-align:center;height:140px;float:left;background:url(../images/video_small.jpg) no-repeat top center;line-height:40px;border:1px solid #fff;font-size:22px;text-align:center;color:#fff;text-decoration:none;font-family:"Times New Roman";font-weight:700}
.etw_video_center a:hover,.homevideo a:hover{border:1px solid #000;color:#ff0}
.etw_video{float:right;text-align:center;height:auto;padding:2px 0 0 0px}
.etw_video a{display:inline-block;font-size:14px;text-transform:uppercase;color:#fff;font-family:OpenSans Bold;line-height:22px;padding-left:22px;position:relative}
/*.etw_video a:before{position:absolute;content:"\f01d";font-size:66px;color:#fff;left:40%;top:40%;font-family:fontawesome}
*/
.etw_video a:hover,.etw_video:hover a:before{color:#008fff;transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-webkit-transition:all ease-in-out .3s;-o-transition:all ease-in-out .3s;-ms-transition:all ease-in-out .3s}
@media only screen and (min-width:350px){.relatedProducts ul li{width:48%}
.etw_pic4 ul li p{height:auto}
}
@media only screen and (min-width:480px){#etw_other_product ul li{float:left;overflow:hidden;width:48%}
#productsformat .productsformat_sub ul li{width:48%;margin-right:2%;float:left;display:block}
.class_for_each .productsformat_sub ul li ol li.etw_pro_name{width:60%;float:right}
.class_for_each .productsformat_sub ul li ol li.etw_pro_img{width:38%;float:left}
}
@media only screen and (min-width:650px){#floatchatiframe2011{width:75%;margin:0 auto}
#etw_hot_product ul ol{width:32%;padding-right:2%;margin-right:2%;margin-bottom:30px;border-right:1px dotted #ccc}
#etw_hot_product ul ol.hot264869,#etw_hot_product ul ol.hot264875,#etw_hot_product ul ol.hot264901{margin-right:0;border-right:none}
#etw_hot_product ul ol li.hotproductsphotos{border:none}
#etw_hot_product ul ol li.hotproductsname p{height:125px}
#sitemap li ol ol{width:32%}
.etw_pdf a{width:48%}
#etw_other_product ul li{width:23%}
#productsformat .mysub3,#productsformat .mysub4,#productsformat .mysub5,#productsformat .mysub6,#productsformat .mysub7,#productsformat .mysub8{width:48%;margin-right:2%;float:left;display:block;height:530px;overflow:hidden}
#productsformat .productsformat_sub ul li{width:31%;margin-right:2%;float:left;display:block}
.class_for_each .productsformat_sub ul li{text-align:left;float:left}
.class_for_each .productsformat_sub ul li ol li.etw_pro_name{width:72%;float:right;text-align:left}
.class_for_each .productsformat_sub ul li ol li.etw_pro_img{width:23%;float:left;overflow:hidden}
#productsformat .mysub3 ul li,#productsformat .mysub3 ul li ol,#productsformat .mysub4 ul li,#productsformat .mysub4 ul li ol,#productsformat .mysub5 ul li,#productsformat .mysub5 ul li ol,#productsformat .mysub6 ul li,#productsformat .mysub6 ul li ol,#productsformat .mysub7 ul li,#productsformat .mysub7 ul li ol,#productsformat .mysub8 ul li,#productsformat .mysub8 ul li ol{width:100%}
}
@media only screen and (min-width:769px){#mymap{width:100%;height:598px;background:url(../images/mymap.jpg) no-repeat left top;margin-top:20px;position:relative;display:block}
.mapcolor{color:#ec6941;position:absolute;font-size:8px;cursor:pointer}
.map1{left:160px;top:240px}
.map2{left:250px;top:365px}
.map3{left:320px;top:420px}
.map4{left:255px;top:470px}
.map5{left:280px;top:485px}
.map6{left:465px;top:135px}
.map7{left:685px;top:135px}
.map8{left:512px;top:188px}
.map9{left:488px;top:197px}
.map10{left:520px;top:210px}
.map11{left:620px;top:210px}
.map12{left:462px;top:230px}
.map13{left:525px;top:250px}
.map14{left:464px;top:270px}
.map15{left:484px;top:290px}
.map16{left:580px;top:270px}
.map17{left:570px;top:298px}
.map18{left:560px;top:310px}
.map19{left:645px;top:310px}
.map20{left:670px;top:300px}
.map21{left:740px;top:310px}
.map22{left:755px;top:338px}
.map23{left:648px;top:355px}
.map24{left:705px;top:383px}
.map25{left:795px;top:460px}
.map26{left:518px;top:435px}
.map27{left:528px;top:450px}
.map28{left:500px;top:470px}
.caption p{height:160px}
.caption1 p{height:60px}
#main_content{margin-top:30px}
#etw_productlist{width:100%;overflow:hidden;border:1px solid #e2e2e2;display:block}
#etw_contact{float:left;display:block}
#homelink{max-width:940px;height:auto;margin:0 auto;background:#303030;margin-top:40px;font-size:12px}
.foot0{width:33%;height:auto;float:left;color:#a4a4a4;padding:0 4% 0 4px}
.foot0 a{display:block;color:#fff;font-weight:700;line-height:30px;font-size:12px;padding-bottom:8px}
.foot0 strong{color:#fff}
.foot0 a:hover{color:#ffd004}
.foot1{width:30%;height:auto;float:left}
.foot1 li,.foot1 li ol{width:100%;float:left}
.foot1 a{display:block;color:#fff;font-weight:700;line-height:30px;font-size:12px;padding-bottom:8px}
.foot1 a:hover{color:#ffd004}
.foot1 li ol a{width:46%;float:left;text-align:center;margin:30px 2% 0 0;border:1px solid #303030}
.foot1 li ol img:hover{width:100px;border:1px solid #fff}
.contact{width:28%;height:auto;float:right;color:#fff;padding-right:10px}
.title a{display:block;color:#fff;font-weight:700;line-height:30px;font-size:12px;padding-bottom:8px}
.title a:hover{color:#ffd004}
.contact a{color:#fff}
.home_body_txt{width:68%;float:left}
.homevideo{display:block;float:right;margin-bottom:0}
.homevideos{width:27.5%;display:block;float:right;margin-bottom:0}
.homevideo a{width:100%;height:169px;background:url(../images/video4.jpg) no-repeat center;display:block;font-size:34px;text-align:center;color:#fff;text-decoration:none;font-family:"Times New Roman";padding:10px 0 0 0;text-shadow:#000 1px 1px 1px;font-weight:700}
/* .homevideo a:hover{color:#ff0}
*/
.etw_video_center{width:100%;height:128px;margin:0 auto;text-align:center;margin-bottom:20px}
.etw_video_center a{width:100%;height:128px;background:url(../images/video.jpg) no-repeat center;overflow:hidden;display:block;border:1px solid #ccc}
#etw_logo{float:left;width:161px;height:100px;text-align:right}
.feedback1{width:52%}
#etw_error,#qrcode,#search_left,.pd_tab{display:block}
.text_show{display:inline}
#etw_right{width:68%}
#etw_sidebar{width:27.5%}
#chatbox,#etw_sidebar{display:block}
#top_right{float:right;width:100%;display:block;margin-right:0;margin-top:20px;margin-bottom:10px;background:#303030}
#etw_contact1{width:32%}
#etw_contact,#homelink,#homelink_bottom,.con_alls{display:block}
#etw_homefooter{display:block}
.con_all{float:right;padding:0 0 25px 0;display:block;margin-top:20px}
.con_all a{float:right;display:block;width:150px;height:30px;border-radius:5px;border:1px solid #b81d21;color:#b81d21;text-align:center;font-size:16px;line-height:30px}
.con_all a span{float:right;padding-right:10px;font-weight:700;font-size:12px;font-family:Arial,Helvetica,sans-serif}
.con_all a:hover{background:#303030;color:#fff;text-decoration:none}
.left_pic,.left_pic_one{width:100%;float:left;margin:20px 2% 10px 0}
.left_pic_one{width:40%;float:right;margin:0 0 40px 2%}
.related_pic{width:47%}
.related_pic a{width:30%;margin-left:2%}
.img_right1{width:50%;margin:0 auto}
.img_right1 img{display:block;text-align:center;margin:0 auto;width:100%}
.img_left,.img_right{width:50%;float:right;margin-bottom:5px;text-align:center;border:1px solid #ccc;padding:4px;margin-left:1%;overflow:hidden}
.img_left{width:70%;margin-right:1%;margin-left:0;float:left}
.img_right img{margin:0 auto;display:block;text-align:center}
.etw_pic4 ul li p{height:55px}
.names{width:auto}
#top_right .navbar-default{background:0!important;border:none!important}
#top_right .navbar-default .navbar-nav>li>a{color:#fff;padding:16px 14px;background:url(../images/menu.jpg) no-repeat right}
#top_right .navbar,#top_right .navbar-default{margin-bottom:0}
#top_right .nav>li>a.thisItem,#top_right .nav>li>a:hover{color:#333;background:#f0c709}
#etw_multimedia{width:60%;padding-top:40px}
.banner_txt{width:26%;float:right}
.banners{width:100%;height:320px;float:left;background:#f0c709}
.bannertext{font-size:21px;color:#303030;padding:52px 10px 8px 24px;line-height:30px}
.bannertext span{font-size:35px;font-family:Impact}
.list{width:239px;height:auto;float:left;background:url(../images/lists.jpg) no-repeat top;padding:9px}
.list ul{width:239px;height:auto;float:left}
.list ul li{width:223px;float:left;padding-left:16px}
.list ul li a{color:#585657;display:block;padding:5px 0 5px 15px;background:url(../images/lists1.jpg) left no-repeat}
.list ul li a:hover{color:#b91d21;background:url(../images/lists2.jpg) left no-repeat;text-decoration:underline}
.location{width:55%;float:right;display:block}
#qrcode2{width:41%}
}
@media only screen and (min-width:981px){#etw_content,#etw_footin,#headerin,#home_body,.main_title{max-width:940px}
#footer{max-width:1030px;margin:0 auto}
#etw_banner{height:320px;display:block;position:relative}
.page_ele_titles{width:24%;margin:0 1% 8px 0}
.relatedProducts{width:98.7%}
.relatedProducts ul li{width:49.5%}
#etw_contactin .indent{padding-left:30px}
.etw_contact_left .indent{padding-left:25px}
.indent1{padding-left:38px}
#etw_other_product ul ol li.product_con p{display:block}
.relatedProducts ul{width:98%;margin-left:2%}
#top_right .navbar-default .navbar-nav>li>a{padding:16px 25px}
#etw_multimedia{width:80%}
}
.qrcode1{margin:0 auto;text-align:left;margin-top:20px}
.news_list{width:100%;float:left;padding-top:10px}
.news_list ul{float:left;width:99%}
.news_list ul li{float:left;width:100%;border-bottom:1px solid #ccc;margin-bottom:15px}
.news_list ul li a{margin:0;padding:5px 5px 5px 10px;color:#333;float:left;background:url(../images/sanjiao1.jpg) left center no-repeat #fff}
.news_list ul li a:hover{color:red}
.news_list ul li span{float:left;color:#999;text-align:right;background:#fff;padding:5px 0 5px 5px}
.news_list h2,.news_list h5{text-align:center}
.page{width:99%;text-align:center}
.page a{background:#b2c223 none repeat scroll 0 0;border:1px solid #ccc;color:#fff;line-height:25px;padding:3px 8px}
.page a.thisItem{color:red;font-weight:700;margin-right:5px;background:#fff}
.page a:hover{background:#09f;color:#fff}
.red{background:#D9534F;color:#fff;display:block;text-align:left;font-size:18px}
#etw_instruction .news_sublist li{float:left;width:100%;margin-bottom:15px}
#etw_instruction .news_sublist li ol .new_products_content .news_title{margin:0;padding:5px 5px 5px 10px;color:#333;float:left;background:url(../images/sanjiao1.jpg) left center no-repeat #fff;list-style:none}
#etw_instruction .news_sublist li ol .new_products_content .news_title:hover{color:red}
#etw_sidebar #etw_productlist ul li a:hover,#etw_sidebar #etw_productlist ul li a.thisItem{color:red}
.pageNums{width:250px;overflow:hidden;margin:20px auto}
.pageNums li{float:left}
.pageNums a{color:#3B393A;padding:4px 10px;border:1px #333 solid;margin:0 3px;display:block;transition:all ease-in-out .4s;-moz-transition:all ease-in-out .4s;-webkit-transition:all ease-in-out .4s;-o-transition:all ease-in-out .4s;-ms-transition:all ease-in-out .4s}
.pageNums a.thispageNums,.pageNums a:hover{color:#01348B;background:#eee}
#etw_instruction .news_sublist li ol .new_products_content .newstime{float:left;color:#999;text-align:right;background:#fff;padding:5px 0 5px 5px}
#app_new_pro{display:none}
#etw_sidebar #etw_productlist ul li a{width:100%;background:url(../images/libig.jpg) no-repeat left;color:#000;display:block;font-weight:700;font-weight:700;padding:7px 0 7px 12%;border-bottom:1px solid #e0e0e0}
.news_detail{width:100%;float:left}
.news_name{border-bottom:1px solid #ccc;text-align:center;padding-bottom:10px;margin-bottom:10px}
.news_name h2{text-align:center;color:#01348b;font-size:25px;font-weight:700;margin-bottom:12px;padding-bottom:15px}
.news_name span{color:#777}
#container #app_new_pro #etw_content #etw_left .news_detail .img_list img{margin:0 auto;display:block}
.news_prevnext{width:100%}
.new_next,.new_prev{width:50%;padding-top:30px}
.news_prevnext{width:100%}
.new_next,.new_prev{width:50%;padding-top:30px}
.new_prev{float:left}
.new_next{float:right;text-align:right}
.new_next a,.new_prev a{color:#000;font-size:14px;line-height:26px}
.new_next a:hover,.new_prev a:hover{color:#666}
#etw_language ul li a span{vertical-align:middle}
/*exbition*/
#layui-layer100001{height:auto !important}
.layui-layer{background:#E6E6E6 !important;}
.layui-layer-dialog .layui-layer-content{word-break:keep-all !important;}
.layui-layer-title{color:#991e1c !important;font-size:18px !important;font-weight:700 !important;}
#myExhibition.layui-layer-content{padding:10px;max-height:350px;height:auto !important;}
.exh_content p{margin:0}
.exh_content p:nth-child(2){margin-bottom:10px;}
.layui-layer-content img{margin-bottom:8px;}
#etw_top{position:fixed;width:35px;height:35px;right:55px;bottom:150px;text-align:center;background:#d3ad00;z-index:100;cursor:pointer;color:#fff;font-weight:700;line-height:28px;border-radius:50%}
#etw_top a{color:#fff}
#etw_top:hover{transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-webkit-transition:all ease-in-out .3s;-o-transition:all ease-in-out .3s;-ms-transition:all ease-in-out .3s;background:#d2000d;}
/* 20220512 */
#etw_sidebar #etw_productlist ul.etw_dir_list li.big_abouttitle a{font-weight:normal;background-image:none;}
#etw_sidebar #etw_productlist ul li ol a{padding-right:35px;}
#etw_sidebar #etw_productlist ul>li>ol>a.thisItem,#etw_sidebar #etw_productlist ul>li>ol>a:hover{color:#b81d21;}
#otherlink{text-align:center;width:auto;}
#otherlink a{margin:0 10px;color:#fff;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;-o-transition:0.5s;}
#otherlink a:hover{color:#d3ad00;}
.table-responsive{margin-bottom:30px;}
.table.text-center{text-align:center;}
.img_center img{width:100%;display:block;}
.etw_dir_list li ol a.icon-new{background:url(../images/news.jpg) no-repeat right top!important;}
.etw-features{display:flex;flex-flow:wrap;}
.etw-features li{width:49%;margin-right:2%;border:1px solid #ccc;margin-bottom:20px;}
.etw-features li:nth-of-type(2n){margin-right:0;}
.etw-features li .pic{overflow:hidden;}
.etw-features li .pic img{width:100%;display:block;}
.etw-features li .txt{overflow:hidden;}
.etw-features li .txt p{line-height:1.5;padding:15px;}
#productsformat .productsformat_sub ul li ol li.etw_pro_name a{min-height:110px;}
/* .productsformat_sub{display:flex;flex-flow:wrap;}
*/
@media only screen and (min-width:650px){#etw_hot_product ul ol:nth-of-type(3n+3){margin-right:0;border:none;}
}
@media only screen and (min-width:650px){#etw_hot_product ul ol li.hotproductsname p{height:auto;padding-bottom:0;margin-bottom:5px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;overflow:hidden;}
}
@media only screen and (min-width:769px){.foot1 li ol img{border:1px solid transparent;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;-o-transition:0.5s;}
.foot1 li ol img:hover{width:auto;transform:scale(0.95);border-color:#fff;-webkit-transform:scale(0.95);-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);}
}
